html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */


.main-container {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    outline: solid;
}

.main-heading {
    margin: 5% auto;
    outline: solid;
}

.image {
    background: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-43.png");
    max-width: 90%;
    height: 60vh;
    background-repeat: no-repeat;
    position: relative;
    
}

.image::after {
    content: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-18.png");
    animation: 8000ms changes infinite;
    opacity: 100%;
    max-width: 90%;
}

@keyframes changes{
    0% {
        content: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-18.png");
    }
    10% {
        content: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-18.png");
    }
    20% {
        content: url('/Images/White.png');
    }
    30% {
        content: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-43.png");
    }
    60% {
        content: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-43.png");
    }
    70% {
        content: url('/Images/White.png');
    }
    80% {
        content: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-18.png");
    }
    100% {
        content: url("/Images/Screenshot\ from\ 2022-02-15\ 14-05-18.png");
    }
}